@model List<Product>;
@{
    ViewData["Title"] = "Home Page";
    var products = Model;
    //var cate123 = ViewBag.cate123
}

<div class="text-center">
    <h1 class="display-4">Welcome ProductManager</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Options</th>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>Option</td>
            </tr>
            }
        </tbody>
    </table>
</div>
